/*Setting some styles for whole page*/
body {
    background: -webkit-linear-gradient(top left,red,blue);
    background-repeat:no-repeat;
    margin:0px;
    font-family:sans-serif;
    color: white;
}

a{text-decoration: none;color: white;}

h1,h2,h3,h4,h5,h6,p{margin:0px;} 
input:focus{outline:none;}
i:hover{cursor:pointer;}

input[type='checkbox']{display:none;}
.text-font-light{font-weight:200;font-family:Segoe UI;}

/*Navigation-Bar*/

.navbar{
	background: -webkit-linear-gradient(top left,red,);
	height: 14vh;
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 6%;
    padding-right: 6%;
}

/*Left section with logo and website name*/

.left-section{display:flex;width:11vw;} 

.logo-image{
	background: -webkit-linear-gradient(top left,#1a2a6c,#7303c0,#ec38bc,#fdeff9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation:logo-animate 0.6s ease-in-out infinite;
	}

@keyframes logo-animate{
	0%{transform:rotate(0deg);text-shadow:1px 1px 2px white;}
	100%{transform:rotate(360deg);text-shadow:2px 2px 3px white;}
}

.web-name{animation:web-name-animate 0.5s ease-in-out infinite alternate;}
@keyframes web-name-animate{
	0%{}
	100%{text-shadow:0px 0px 10px white;}
}

/*Animation for favourites(text)*/

.favourites{cursor:pointer;animation:fav-animate 2s ease-in-out infinite alternate;font-weight:400;width:9vw;}

@keyframes fav-animate{
	0%{transform:rotate(0deg);}
	25%{transform:rotate(10deg);}
	50%{transform:rotate(-10deg);}
	75%{transform:rotateY(180deg);}
	85%{transform:scale(0.8);text-shadow:0px 0px 10px white;}
	100%{transform:scale(1.3);text-shadow:0px 0px 20px white;}
}

/*Animation for Notif. Bell*/

.notif-bell{
  animation: shake 1.3s infinite both; 
  width:2.4vw;
}

@keyframes shake {
  10%, 90% { 
    transform:rotate(10deg);
  }
  20%, 80% { 
    transform:rotate(-10deg);
  }
  30%, 50%, 70% { 
    transform:rotate(10deg);text-shadow:0px 0px 6px yellow;
  }
  40%, 60% { 
    transform:rotate(-10deg);
  }
}

/*Search Bar*/
.search-bar{
	width:23vw;
	position:relative;
}
.search-bar input{ 
	width:100%;
	font-size:1rem;
	border-radius:18px;
	border: none;
    padding: 5px;
    font-weight:530;
    text-align: center;
    background-color:white; 
}
/*Search icon*/
.srch {
    display: inline-block;
    position: absolute;
    width: min-content;
    left: 4%;
    top: 23%;
    transition: all ease-in-out 0.1s;
    color:black;
}
/* mic icon */
.mic {
    display: inline-block;
    position: absolute;
    width: min-content;
    right: 0%;
    top: 23%;
    transition: all ease-in-out 0.1s;
    color:black;
}

/*profile-pic*/
.profile-pic img{width:6vw;} 

/*some filters for text in navbar*/
.web-name div{padding-top:20%;}
.web-name h1{font-weight:500;}

/*Main section that contains the left and playlist portion*/
/*Some styles for right and the left portions*/
main { 
    width: 100%;  
    display: flex;
    justify-content: space-around;
    transition: all ease-in-out 1s;
} 

.left-portion{
	width: 65vw;
    height: 76vh;
    overflow: scroll;
    overflow-x: hidden;
    display:flex; 
    flex-direction:column;   
}

.right-portion{
	width: 33vw;
	height: 76vh;
    overflow: scroll; 
    display:flex;
    flex-direction:column; 
}

.left-portion::-webkit-scrollbar , .right-portion::-webkit-scrollbar{
    display: none;
} 

/*ColdPlay's intro and other content*/
 
.artist-section{
	display:flex;
	height:45vh;
	width:100%;   
	overflow:hidden; 
	background-color:#0a3b84;
}

.artist-section div:nth-child(1){  
	background-image:url(https://miro.medium.com/max/471/0*_YcTdWCkDbiz2-yC.png);
	transform:rotateY(180deg);
	background-size:cover;
	background-position:top;
	height:45vh;
	width:70vw; 
	border-bottom-left-radius:15%; 
	border-bottom-right-radius:15%; 
	box-shadow:inset 3px 3px 40px #535353,
			   inset 3px 13px 120px #535353,
			   2px -2px 100px #535353;
}

.artist-section div:nth-child(2){
	padding:2vw;
	align-self:center; 
}

.artist-section div:nth-child(2) h2{
	display:inline-block;
}
.artist-section div:nth-child(2) h5{
	line-height:5vh;
}
.followers{
	float:right;
}
.play-all{
	margin-top:5vh;
	cursor:pointer;
	outline:none;
	color:white;
	border:none;
	padding:1.5vh 5.8vh;
	background-image:-webkit-linear-gradient(top left,#3855fc,#f52bfc);
}
.tracks{
	line-height:6vh;
}
.follow{
	font-size:1rem;
	cursor:pointer;
	margin-left:5vw;
	background-color:transparent;
	border:none;
	color:white;
	outline:none;
}

/*Songs List in the left portion */

.playlist-list::-webkit-scrollbar{display:none;}
.playlist-list{ 
	height:32vh;
	overflow:scroll;  
	margin-top:0.7rem;
	display:flex;
	flex-direction:column;
}
.playlist-list > div{  
	background-color:rgba(0, 0, 0, 0.2);
	margin-bottom:2vh; 
	display:flex; 
	margin-right:10px;
}
.playlist-list > div:hover{background-color:rgba(0, 0, 0, 0.5);/*#6b6969*/}
.playlist-list div div:nth-child(1){margin-right:7px;margin-left:7px;}
.playlist-list div div:nth-child(2){
	border-radius:10px;
	box-shadow:0 0 10px gray,inset 0 0 10px gray;
	overflow:hidden;
	text-align:center;
}
.playlist-list div div:nth-child(3){margin-right:auto;} 
.playlist-song{padding:3.5vh 1vw;}
.playlist-number{padding:4.4vh 0;}
.playlist-heart{padding:4.4vh 2vw;animation:hrt-animate 0.4s ease-in-out infinite alternate;}
.playlist-heart:hover{transition:all 0.2s;transform:scale(1.3);cursor:pointer;}
@keyframes hrt-animate{
	0%{color:red;}
	100%{color:orange;}
}

.playlist-img{
	margin:2vh 0;
	height:60px;
	width:60px; 
	border-radius:10px;
	background-size:cover;
	background-position:center; 
} 

.bg-playlist1{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-playlist2{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-playlist3{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);}
.bg-playlist4{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-playlist5{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-playlist6{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);}
.bg-playlist6{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-playlist7{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-playlist8{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);}
.bg-playlist9{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-playlist10{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-playlist11{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);}
.bg-playlist12{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-playlist13{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-playlist14{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);}
.bg-playlist15{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-playlist16{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-playlist17{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);}

.playlist-img i{ 
	width:60px;
	padding:2.3vh 0 2.3vh;
	border-radius:10px; 
	opacity:0;   
}  
.playlist-img i:hover{transition:all 0.3s;opacity:1;background-color:rgba(0, 0, 0, 0.06);} 

/*Making Right Portion of Similar Artists*/

.similar-artists{margin-top:1.3vh;width:100%;display:flex;justify-content:space-between;}
.similar-artists div:nth-child(2){padding-right:1vw;font-size:2vh;cursor:pointer;}
.similar-artists-list{   
	height:44vh;
	overflow:scroll;  
	margin-top:0.9vh;
	display:flex;
	flex-direction:column;
}
.similar-artists-list::-webkit-scrollbar{display:none;}
.similar-artists-list > div{  
	background-color:rgba(0, 0, 0, 0.2);
	margin-bottom:1.3vh; 
	display:flex; 
	margin-right:10px;
}
.similar-artists-list > div:hover{background-color:rgba(0, 0, 0, 0.5);}
.bg-similar-artists1{margin-right:7px;margin-left:7px;}
.similar-artists-img-border{
	overflow:hidden;
	border-radius:10px;
	margin:0 1vw;
	padding:0 0.7vw;
	box-shadow:0 0 10px gray,inset 0 0 10px gray;
	overflow:hidden;
	text-align:center;
}

.similar-artists-song{padding:4.5vh 1vw;} 
.similar-artists-ellipsis{margin-left:auto;padding:2vh 2vh;}
.similar-artists-ellipsis:hover{cursor:pointer;} 
.similar-artists-ellipsis span{margin-left:-7px;}
.similar-artists-img{
	margin:2vh 0;
	height:65px;
	width:65px; 
	border-radius:10px;
	background-size:cover;
	background-position:center; 
} 

.bg-similar-artists1{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-similar-artists2{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-similar-artists3{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);} 

.similar-artists-img i{ 
	width:65px;
	padding:2.3vh 0 3vh;
	border-radius:10px; 
	opacity:0;   
}  
.similar-artists-img i:hover{transition:all 0.3s;opacity:1;background-color:rgba(0, 0, 0, 0.2);}

/*Making Right Portion of Recently Played*/

.recently-played{margin-top:1.3vh;width:100%;display:flex;justify-content:space-between;}
.recently-played div:nth-child(2){padding-right:1vw;font-size:2vh;cursor:pointer;}
.recently-played-list::-webkit-scrollbar{display:none;}
.recently-played-list{ 
	height:32vh;
	overflow:scroll;  
	margin-top:0.7rem;
	display:flex;
	flex-direction:column;
}
.recently-played-list > div{  
	background-color:rgba(0, 0, 0, 0.2);
	margin-bottom:2vh; 
	display:flex; 
	margin-right:10px;
}
.recently-played-list > div:hover{background-color:rgba(0, 0, 0, 0.5);/*#6b6969*/}
.recently-played-list div div:nth-child(1){margin-right:7px;margin-left:7px;}
.recently-played-list div div:nth-child(2){
	border-radius:10px;
	box-shadow:0 0 10px gray,inset 0 0 10px gray;
	overflow:hidden;
	text-align:center;
}
.recently-played-list div div:nth-child(3){margin-right:auto;} 
.recently-played-song{padding:3.5vh 1vw;}
.recently-played-number{padding:4.4vh 0;}
.recently-played-heart{padding:4.4vh 2vw;animation:hrt-animate 0.4s ease-in-out infinite alternate;}
.recently-played-heart:hover{transition:all 0.2s;transform:scale(1.3);cursor:pointer;}
@keyframes hrt-animate{
	0%{color:red;}
	100%{color:orange;}
}

.recently-played-img{
	margin:2vh 0;
	height:60px;
	width:60px; 
	border-radius:10px;
	background-size:cover;
	background-position:center; 
} 

.bg-recently-played1{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-recently-played2{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-recently-played3{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);}
.bg-recently-played4{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-recently-played5{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-recently-played6{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);}
.bg-recently-played6{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-recently-played7{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-recently-played8{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);}
.bg-recently-played9{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-recently-played10{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-recently-played11{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);}
.bg-recently-played12{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-recently-played13{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-recently-played14{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);}
.bg-recently-played15{background-image:url(https://i1.sndcdn.com/artworks-000138604964-3feq46-t500x500.jpg);}
.bg-recently-played16{background-image:url(https://upload.wikimedia.org/wikipedia/en/3/35/Flume_-_Skin.png);}
.bg-recently-played17{background-image:url(https://upload.wikimedia.org/wikipedia/en/e/e4/Skin_The_Remixes_by_Flume.jpg);}

.recently-played-img i{ 
	width:50px;
	padding:2.3vh 0 2.3vh;
	border-radius:10px; 
	opacity:0;   
}  
.recently-played-img i:hover{transition:all 0.3s;opacity:1;background-color:rgba(0, 0, 0, 0.06);}

/*Music Player Below*/

.music-player{
	z-index:200;
	background-color:#333232;
	position:fixed;
	bottom:0%; 
    width: 100vw; 
    height:10vh;
    padding:0.3% 3% 0;
	display:flex;
	justify-content:space-around; 
}

/*Left Section of Music Player having song details*/

.music-player-left-section{
	width:25vw;
	display:flex;  
	margin:2px;
}
.music-player-left-section img{
	display:flex;
	height:50px;
	width:50px;
}
.music-player-left-section div{margin:0 5px;}
.music-player-singer{max-height:7vh;overflow-y:scroll;}
.music-player-singer::-webkit-scrollbar{
    display: none;
}

/*Mid Section of Music Player having time scroller and other buttons*/

.music-player-mid-section{ 
	width:50vw;
	display:flex;
	flex-direction:column; 
	margin:2px;
}
.controls{
	display:flex;
	justify-content:space-between;
	width:25vw;
}
.controls div{
	line-height:30px;
}
.time-scroller{ 
	display:flex;
	justify-content:center;
	width:50vw;
}
.time-scroller input[type=range] {
	margin:0 10px; 
    border-radius:5px;
    width:30vw;
    height:5px;
    background:gray;  
    border:2px solid transparent;
    outline: none;
    opacity:0.7; 
    transition: opacity 0.1s;
} 
.time-scroller input[type=range]:hover {
    opacity: 1;
}  

/*Right Section of Music Player having some other options*/

.music-player-right-section{
	width:25vw;
	display:flex; 
}
.music-player-right-section div{ 
	margin:15px 0px 0 10px;
}

.music-player-right-section .fa-ellipsis-v{visibility:hidden;margin-right:auto;}

.volume-bar input[type=range] { 
    border-radius:5px;
    width:9vw;
    height:0.5vh;
    background:white;  
    border:0.5vh solid transparent;
    outline: none;
    opacity:0.8; 
    transition: opacity 0.1s;
} 
.volume-bar input[type=range]:hover {
    opacity: 1;
} 